@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(-1rem);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* 
===================
Manage Media Query
==================== 
Break points:
- 480  = xs 
- 576 = sm
- 768 = md
- 992 = lg
- 1200 = xl
- 1400px = xxl
Note:
- Build with min-width to follow html,css, and framework bootstrap and tailwind.
- Apply over 480 and 480
- Media query unit does not effected by the base font setup which is 62.5% in my case. 
- It is always related to the browser root font size, 16px. 
- Most of the browser em unit works properly(1em = 16px). So we use em unit for media query.
- 600px/16px = 37.5 em
*/
/* =========
   Base color
   =========*/
/* =========
   Typography color
   =========*/
/* =========
   Border 
   =========*/
/* =========
   Shadow
   =========*/
/* =========
font
=========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  /* 
  Why 62.5%?
   - Browser root font size 16 pixel. Now we will set font-size: 10px; for easy calculation.
   - We set it as a % value, because then it will take it's parent font size as the reference, which is browser's default 16px.
   - if we set font-size: 10px then browser's 16px will be replaced by 10. So user lost the flexibility of changing it. Like zoom in and out of the browser will have no effect.
   */
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #f2e9e4;
  padding: 3rem;
  background-color: #22223b;
  box-sizing: border-box;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2.6rem;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-primary--meta {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.heading-meta {
  font-size: 2.6rem;
}

.heading-secondary {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.4;
}

.container {
  padding-inline: 5rem;
}

.container-10 {
  padding-inline: 0.5rem;
}

.p-0rem {
  padding: 0rem;
}

.pt-0rem {
  padding-top: 0rem;
}

.pb-0rem {
  padding-bottom: 0rem;
}

.sp-0rem {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.spt-0rem {
  padding-top: 0rem;
}

.spb-0rem {
  padding-bottom: 0rem;
}

.m-0rem {
  margin: 0rem;
}

.mt-0rem {
  margin-top: 0rem;
}

.mb-0rem {
  margin-bottom: 0rem;
}

.p-1rem {
  padding: 1rem;
}

.pt-1rem {
  padding-top: 1rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.sp-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spt-1rem {
  padding-top: 1rem;
}

.spb-1rem {
  padding-bottom: 1rem;
}

.m-1rem {
  margin: 1rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.p-2rem {
  padding: 2rem;
}

.pt-2rem {
  padding-top: 2rem;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.sp-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.spt-2rem {
  padding-top: 2rem;
}

.spb-2rem {
  padding-bottom: 2rem;
}

.m-2rem {
  margin: 2rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.p-3rem {
  padding: 3rem;
}

.pt-3rem {
  padding-top: 3rem;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.sp-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.spt-3rem {
  padding-top: 3rem;
}

.spb-3rem {
  padding-bottom: 3rem;
}

.m-3rem {
  margin: 3rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.p-4rem {
  padding: 4rem;
}

.pt-4rem {
  padding-top: 4rem;
}

.pb-4rem {
  padding-bottom: 4rem;
}

.sp-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.spt-4rem {
  padding-top: 4rem;
}

.spb-4rem {
  padding-bottom: 4rem;
}

.m-4rem {
  margin: 4rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.p-5rem {
  padding: 5rem;
}

.pt-5rem {
  padding-top: 5rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

.sp-5rem {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.spt-5rem {
  padding-top: 5rem;
}

.spb-5rem {
  padding-bottom: 5rem;
}

.m-5rem {
  margin: 5rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.p-6rem {
  padding: 6rem;
}

.pt-6rem {
  padding-top: 6rem;
}

.pb-6rem {
  padding-bottom: 6rem;
}

.sp-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.spt-6rem {
  padding-top: 6rem;
}

.spb-6rem {
  padding-bottom: 6rem;
}

.m-6rem {
  margin: 6rem;
}

.mt-6rem {
  margin-top: 6rem;
}

.mb-6rem {
  margin-bottom: 6rem;
}

.p-7rem {
  padding: 7rem;
}

.pt-7rem {
  padding-top: 7rem;
}

.pb-7rem {
  padding-bottom: 7rem;
}

.sp-7rem {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.spt-7rem {
  padding-top: 7rem;
}

.spb-7rem {
  padding-bottom: 7rem;
}

.m-7rem {
  margin: 7rem;
}

.mt-7rem {
  margin-top: 7rem;
}

.mb-7rem {
  margin-bottom: 7rem;
}

.p-8rem {
  padding: 8rem;
}

.pt-8rem {
  padding-top: 8rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.sp-8rem {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.spt-8rem {
  padding-top: 8rem;
}

.spb-8rem {
  padding-bottom: 8rem;
}

.m-8rem {
  margin: 8rem;
}

.mt-8rem {
  margin-top: 8rem;
}

.mb-8rem {
  margin-bottom: 8rem;
}

.p-9rem {
  padding: 9rem;
}

.pt-9rem {
  padding-top: 9rem;
}

.pb-9rem {
  padding-bottom: 9rem;
}

.sp-9rem {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.spt-9rem {
  padding-top: 9rem;
}

.spb-9rem {
  padding-bottom: 9rem;
}

.m-9rem {
  margin: 9rem;
}

.mt-9rem {
  margin-top: 9rem;
}

.mb-9rem {
  margin-bottom: 9rem;
}

.p-10rem {
  padding: 10rem;
}

.pt-10rem {
  padding-top: 10rem;
}

.pb-10rem {
  padding-bottom: 10rem;
}

.sp-10rem {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.spt-10rem {
  padding-top: 10rem;
}

.spb-10rem {
  padding-bottom: 10rem;
}

.m-10rem {
  margin: 10rem;
}

.mt-10rem {
  margin-top: 10rem;
}

.mb-10rem {
  margin-bottom: 10rem;
}

.p-11rem {
  padding: 11rem;
}

.pt-11rem {
  padding-top: 11rem;
}

.pb-11rem {
  padding-bottom: 11rem;
}

.sp-11rem {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.spt-11rem {
  padding-top: 11rem;
}

.spb-11rem {
  padding-bottom: 11rem;
}

.m-11rem {
  margin: 11rem;
}

.mt-11rem {
  margin-top: 11rem;
}

.mb-11rem {
  margin-bottom: 11rem;
}

.p-12rem {
  padding: 12rem;
}

.pt-12rem {
  padding-top: 12rem;
}

.pb-12rem {
  padding-bottom: 12rem;
}

.sp-12rem {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.spt-12rem {
  padding-top: 12rem;
}

.spb-12rem {
  padding-bottom: 12rem;
}

.m-12rem {
  margin: 12rem;
}

.mt-12rem {
  margin-top: 12rem;
}

.mb-12rem {
  margin-bottom: 12rem;
}

.p-13rem {
  padding: 13rem;
}

.pt-13rem {
  padding-top: 13rem;
}

.pb-13rem {
  padding-bottom: 13rem;
}

.sp-13rem {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.spt-13rem {
  padding-top: 13rem;
}

.spb-13rem {
  padding-bottom: 13rem;
}

.m-13rem {
  margin: 13rem;
}

.mt-13rem {
  margin-top: 13rem;
}

.mb-13rem {
  margin-bottom: 13rem;
}

.p-14rem {
  padding: 14rem;
}

.pt-14rem {
  padding-top: 14rem;
}

.pb-14rem {
  padding-bottom: 14rem;
}

.sp-14rem {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.spt-14rem {
  padding-top: 14rem;
}

.spb-14rem {
  padding-bottom: 14rem;
}

.m-14rem {
  margin: 14rem;
}

.mt-14rem {
  margin-top: 14rem;
}

.mb-14rem {
  margin-bottom: 14rem;
}

.p-15rem {
  padding: 15rem;
}

.pt-15rem {
  padding-top: 15rem;
}

.pb-15rem {
  padding-bottom: 15rem;
}

.sp-15rem {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.spt-15rem {
  padding-top: 15rem;
}

.spb-15rem {
  padding-bottom: 15rem;
}

.m-15rem {
  margin: 15rem;
}

.mt-15rem {
  margin-top: 15rem;
}

.mb-15rem {
  margin-bottom: 15rem;
}

.p-16rem {
  padding: 16rem;
}

.pt-16rem {
  padding-top: 16rem;
}

.pb-16rem {
  padding-bottom: 16rem;
}

.sp-16rem {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.spt-16rem {
  padding-top: 16rem;
}

.spb-16rem {
  padding-bottom: 16rem;
}

.m-16rem {
  margin: 16rem;
}

.mt-16rem {
  margin-top: 16rem;
}

.mb-16rem {
  margin-bottom: 16rem;
}

.p-17rem {
  padding: 17rem;
}

.pt-17rem {
  padding-top: 17rem;
}

.pb-17rem {
  padding-bottom: 17rem;
}

.sp-17rem {
  padding-top: 17rem;
  padding-bottom: 17rem;
}

.spt-17rem {
  padding-top: 17rem;
}

.spb-17rem {
  padding-bottom: 17rem;
}

.m-17rem {
  margin: 17rem;
}

.mt-17rem {
  margin-top: 17rem;
}

.mb-17rem {
  margin-bottom: 17rem;
}

.p-18rem {
  padding: 18rem;
}

.pt-18rem {
  padding-top: 18rem;
}

.pb-18rem {
  padding-bottom: 18rem;
}

.sp-18rem {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.spt-18rem {
  padding-top: 18rem;
}

.spb-18rem {
  padding-bottom: 18rem;
}

.m-18rem {
  margin: 18rem;
}

.mt-18rem {
  margin-top: 18rem;
}

.mb-18rem {
  margin-bottom: 18rem;
}

.p-19rem {
  padding: 19rem;
}

.pt-19rem {
  padding-top: 19rem;
}

.pb-19rem {
  padding-bottom: 19rem;
}

.sp-19rem {
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.spt-19rem {
  padding-top: 19rem;
}

.spb-19rem {
  padding-bottom: 19rem;
}

.m-19rem {
  margin: 19rem;
}

.mt-19rem {
  margin-top: 19rem;
}

.mb-19rem {
  margin-bottom: 19rem;
}

.p-20rem {
  padding: 20rem;
}

.pt-20rem {
  padding-top: 20rem;
}

.pb-20rem {
  padding-bottom: 20rem;
}

.sp-20rem {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.spt-20rem {
  padding-top: 20rem;
}

.spb-20rem {
  padding-bottom: 20rem;
}

.m-20rem {
  margin: 20rem;
}

.mt-20rem {
  margin-top: 20rem;
}

.mb-20rem {
  margin-bottom: 20rem;
}

.p-21rem {
  padding: 21rem;
}

.pt-21rem {
  padding-top: 21rem;
}

.pb-21rem {
  padding-bottom: 21rem;
}

.sp-21rem {
  padding-top: 21rem;
  padding-bottom: 21rem;
}

.spt-21rem {
  padding-top: 21rem;
}

.spb-21rem {
  padding-bottom: 21rem;
}

.m-21rem {
  margin: 21rem;
}

.mt-21rem {
  margin-top: 21rem;
}

.mb-21rem {
  margin-bottom: 21rem;
}

.p-22rem {
  padding: 22rem;
}

.pt-22rem {
  padding-top: 22rem;
}

.pb-22rem {
  padding-bottom: 22rem;
}

.sp-22rem {
  padding-top: 22rem;
  padding-bottom: 22rem;
}

.spt-22rem {
  padding-top: 22rem;
}

.spb-22rem {
  padding-bottom: 22rem;
}

.m-22rem {
  margin: 22rem;
}

.mt-22rem {
  margin-top: 22rem;
}

.mb-22rem {
  margin-bottom: 22rem;
}

.p-23rem {
  padding: 23rem;
}

.pt-23rem {
  padding-top: 23rem;
}

.pb-23rem {
  padding-bottom: 23rem;
}

.sp-23rem {
  padding-top: 23rem;
  padding-bottom: 23rem;
}

.spt-23rem {
  padding-top: 23rem;
}

.spb-23rem {
  padding-bottom: 23rem;
}

.m-23rem {
  margin: 23rem;
}

.mt-23rem {
  margin-top: 23rem;
}

.mb-23rem {
  margin-bottom: 23rem;
}

.p-24rem {
  padding: 24rem;
}

.pt-24rem {
  padding-top: 24rem;
}

.pb-24rem {
  padding-bottom: 24rem;
}

.sp-24rem {
  padding-top: 24rem;
  padding-bottom: 24rem;
}

.spt-24rem {
  padding-top: 24rem;
}

.spb-24rem {
  padding-bottom: 24rem;
}

.m-24rem {
  margin: 24rem;
}

.mt-24rem {
  margin-top: 24rem;
}

.mb-24rem {
  margin-bottom: 24rem;
}

.p-25rem {
  padding: 25rem;
}

.pt-25rem {
  padding-top: 25rem;
}

.pb-25rem {
  padding-bottom: 25rem;
}

.sp-25rem {
  padding-top: 25rem;
  padding-bottom: 25rem;
}

.spt-25rem {
  padding-top: 25rem;
}

.spb-25rem {
  padding-bottom: 25rem;
}

.m-25rem {
  margin: 25rem;
}

.mt-25rem {
  margin-top: 25rem;
}

.mb-25rem {
  margin-bottom: 25rem;
}

.p-26rem {
  padding: 26rem;
}

.pt-26rem {
  padding-top: 26rem;
}

.pb-26rem {
  padding-bottom: 26rem;
}

.sp-26rem {
  padding-top: 26rem;
  padding-bottom: 26rem;
}

.spt-26rem {
  padding-top: 26rem;
}

.spb-26rem {
  padding-bottom: 26rem;
}

.m-26rem {
  margin: 26rem;
}

.mt-26rem {
  margin-top: 26rem;
}

.mb-26rem {
  margin-bottom: 26rem;
}

.p-27rem {
  padding: 27rem;
}

.pt-27rem {
  padding-top: 27rem;
}

.pb-27rem {
  padding-bottom: 27rem;
}

.sp-27rem {
  padding-top: 27rem;
  padding-bottom: 27rem;
}

.spt-27rem {
  padding-top: 27rem;
}

.spb-27rem {
  padding-bottom: 27rem;
}

.m-27rem {
  margin: 27rem;
}

.mt-27rem {
  margin-top: 27rem;
}

.mb-27rem {
  margin-bottom: 27rem;
}

.p-28rem {
  padding: 28rem;
}

.pt-28rem {
  padding-top: 28rem;
}

.pb-28rem {
  padding-bottom: 28rem;
}

.sp-28rem {
  padding-top: 28rem;
  padding-bottom: 28rem;
}

.spt-28rem {
  padding-top: 28rem;
}

.spb-28rem {
  padding-bottom: 28rem;
}

.m-28rem {
  margin: 28rem;
}

.mt-28rem {
  margin-top: 28rem;
}

.mb-28rem {
  margin-bottom: 28rem;
}

.p-29rem {
  padding: 29rem;
}

.pt-29rem {
  padding-top: 29rem;
}

.pb-29rem {
  padding-bottom: 29rem;
}

.sp-29rem {
  padding-top: 29rem;
  padding-bottom: 29rem;
}

.spt-29rem {
  padding-top: 29rem;
}

.spb-29rem {
  padding-bottom: 29rem;
}

.m-29rem {
  margin: 29rem;
}

.mt-29rem {
  margin-top: 29rem;
}

.mb-29rem {
  margin-bottom: 29rem;
}

.p-30rem {
  padding: 30rem;
}

.pt-30rem {
  padding-top: 30rem;
}

.pb-30rem {
  padding-bottom: 30rem;
}

.sp-30rem {
  padding-top: 30rem;
  padding-bottom: 30rem;
}

.spt-30rem {
  padding-top: 30rem;
}

.spb-30rem {
  padding-bottom: 30rem;
}

.m-30rem {
  margin: 30rem;
}

.mt-30rem {
  margin-top: 30rem;
}

.mb-30rem {
  margin-bottom: 30rem;
}

.p-31rem {
  padding: 31rem;
}

.pt-31rem {
  padding-top: 31rem;
}

.pb-31rem {
  padding-bottom: 31rem;
}

.sp-31rem {
  padding-top: 31rem;
  padding-bottom: 31rem;
}

.spt-31rem {
  padding-top: 31rem;
}

.spb-31rem {
  padding-bottom: 31rem;
}

.m-31rem {
  margin: 31rem;
}

.mt-31rem {
  margin-top: 31rem;
}

.mb-31rem {
  margin-bottom: 31rem;
}

.p-32rem {
  padding: 32rem;
}

.pt-32rem {
  padding-top: 32rem;
}

.pb-32rem {
  padding-bottom: 32rem;
}

.sp-32rem {
  padding-top: 32rem;
  padding-bottom: 32rem;
}

.spt-32rem {
  padding-top: 32rem;
}

.spb-32rem {
  padding-bottom: 32rem;
}

.m-32rem {
  margin: 32rem;
}

.mt-32rem {
  margin-top: 32rem;
}

.mb-32rem {
  margin-bottom: 32rem;
}

.p-33rem {
  padding: 33rem;
}

.pt-33rem {
  padding-top: 33rem;
}

.pb-33rem {
  padding-bottom: 33rem;
}

.sp-33rem {
  padding-top: 33rem;
  padding-bottom: 33rem;
}

.spt-33rem {
  padding-top: 33rem;
}

.spb-33rem {
  padding-bottom: 33rem;
}

.m-33rem {
  margin: 33rem;
}

.mt-33rem {
  margin-top: 33rem;
}

.mb-33rem {
  margin-bottom: 33rem;
}

.p-34rem {
  padding: 34rem;
}

.pt-34rem {
  padding-top: 34rem;
}

.pb-34rem {
  padding-bottom: 34rem;
}

.sp-34rem {
  padding-top: 34rem;
  padding-bottom: 34rem;
}

.spt-34rem {
  padding-top: 34rem;
}

.spb-34rem {
  padding-bottom: 34rem;
}

.m-34rem {
  margin: 34rem;
}

.mt-34rem {
  margin-top: 34rem;
}

.mb-34rem {
  margin-bottom: 34rem;
}

.p-35rem {
  padding: 35rem;
}

.pt-35rem {
  padding-top: 35rem;
}

.pb-35rem {
  padding-bottom: 35rem;
}

.sp-35rem {
  padding-top: 35rem;
  padding-bottom: 35rem;
}

.spt-35rem {
  padding-top: 35rem;
}

.spb-35rem {
  padding-bottom: 35rem;
}

.m-35rem {
  margin: 35rem;
}

.mt-35rem {
  margin-top: 35rem;
}

.mb-35rem {
  margin-bottom: 35rem;
}

.p-36rem {
  padding: 36rem;
}

.pt-36rem {
  padding-top: 36rem;
}

.pb-36rem {
  padding-bottom: 36rem;
}

.sp-36rem {
  padding-top: 36rem;
  padding-bottom: 36rem;
}

.spt-36rem {
  padding-top: 36rem;
}

.spb-36rem {
  padding-bottom: 36rem;
}

.m-36rem {
  margin: 36rem;
}

.mt-36rem {
  margin-top: 36rem;
}

.mb-36rem {
  margin-bottom: 36rem;
}

.p-37rem {
  padding: 37rem;
}

.pt-37rem {
  padding-top: 37rem;
}

.pb-37rem {
  padding-bottom: 37rem;
}

.sp-37rem {
  padding-top: 37rem;
  padding-bottom: 37rem;
}

.spt-37rem {
  padding-top: 37rem;
}

.spb-37rem {
  padding-bottom: 37rem;
}

.m-37rem {
  margin: 37rem;
}

.mt-37rem {
  margin-top: 37rem;
}

.mb-37rem {
  margin-bottom: 37rem;
}

.p-38rem {
  padding: 38rem;
}

.pt-38rem {
  padding-top: 38rem;
}

.pb-38rem {
  padding-bottom: 38rem;
}

.sp-38rem {
  padding-top: 38rem;
  padding-bottom: 38rem;
}

.spt-38rem {
  padding-top: 38rem;
}

.spb-38rem {
  padding-bottom: 38rem;
}

.m-38rem {
  margin: 38rem;
}

.mt-38rem {
  margin-top: 38rem;
}

.mb-38rem {
  margin-bottom: 38rem;
}

.p-39rem {
  padding: 39rem;
}

.pt-39rem {
  padding-top: 39rem;
}

.pb-39rem {
  padding-bottom: 39rem;
}

.sp-39rem {
  padding-top: 39rem;
  padding-bottom: 39rem;
}

.spt-39rem {
  padding-top: 39rem;
}

.spb-39rem {
  padding-bottom: 39rem;
}

.m-39rem {
  margin: 39rem;
}

.mt-39rem {
  margin-top: 39rem;
}

.mb-39rem {
  margin-bottom: 39rem;
}

.p-40rem {
  padding: 40rem;
}

.pt-40rem {
  padding-top: 40rem;
}

.pb-40rem {
  padding-bottom: 40rem;
}

.sp-40rem {
  padding-top: 40rem;
  padding-bottom: 40rem;
}

.spt-40rem {
  padding-top: 40rem;
}

.spb-40rem {
  padding-bottom: 40rem;
}

.m-40rem {
  margin: 40rem;
}

.mt-40rem {
  margin-top: 40rem;
}

.mb-40rem {
  margin-bottom: 40rem;
}

.p-41rem {
  padding: 41rem;
}

.pt-41rem {
  padding-top: 41rem;
}

.pb-41rem {
  padding-bottom: 41rem;
}

.sp-41rem {
  padding-top: 41rem;
  padding-bottom: 41rem;
}

.spt-41rem {
  padding-top: 41rem;
}

.spb-41rem {
  padding-bottom: 41rem;
}

.m-41rem {
  margin: 41rem;
}

.mt-41rem {
  margin-top: 41rem;
}

.mb-41rem {
  margin-bottom: 41rem;
}

.p-42rem {
  padding: 42rem;
}

.pt-42rem {
  padding-top: 42rem;
}

.pb-42rem {
  padding-bottom: 42rem;
}

.sp-42rem {
  padding-top: 42rem;
  padding-bottom: 42rem;
}

.spt-42rem {
  padding-top: 42rem;
}

.spb-42rem {
  padding-bottom: 42rem;
}

.m-42rem {
  margin: 42rem;
}

.mt-42rem {
  margin-top: 42rem;
}

.mb-42rem {
  margin-bottom: 42rem;
}

.p-43rem {
  padding: 43rem;
}

.pt-43rem {
  padding-top: 43rem;
}

.pb-43rem {
  padding-bottom: 43rem;
}

.sp-43rem {
  padding-top: 43rem;
  padding-bottom: 43rem;
}

.spt-43rem {
  padding-top: 43rem;
}

.spb-43rem {
  padding-bottom: 43rem;
}

.m-43rem {
  margin: 43rem;
}

.mt-43rem {
  margin-top: 43rem;
}

.mb-43rem {
  margin-bottom: 43rem;
}

.p-44rem {
  padding: 44rem;
}

.pt-44rem {
  padding-top: 44rem;
}

.pb-44rem {
  padding-bottom: 44rem;
}

.sp-44rem {
  padding-top: 44rem;
  padding-bottom: 44rem;
}

.spt-44rem {
  padding-top: 44rem;
}

.spb-44rem {
  padding-bottom: 44rem;
}

.m-44rem {
  margin: 44rem;
}

.mt-44rem {
  margin-top: 44rem;
}

.mb-44rem {
  margin-bottom: 44rem;
}

.p-45rem {
  padding: 45rem;
}

.pt-45rem {
  padding-top: 45rem;
}

.pb-45rem {
  padding-bottom: 45rem;
}

.sp-45rem {
  padding-top: 45rem;
  padding-bottom: 45rem;
}

.spt-45rem {
  padding-top: 45rem;
}

.spb-45rem {
  padding-bottom: 45rem;
}

.m-45rem {
  margin: 45rem;
}

.mt-45rem {
  margin-top: 45rem;
}

.mb-45rem {
  margin-bottom: 45rem;
}

.p-46rem {
  padding: 46rem;
}

.pt-46rem {
  padding-top: 46rem;
}

.pb-46rem {
  padding-bottom: 46rem;
}

.sp-46rem {
  padding-top: 46rem;
  padding-bottom: 46rem;
}

.spt-46rem {
  padding-top: 46rem;
}

.spb-46rem {
  padding-bottom: 46rem;
}

.m-46rem {
  margin: 46rem;
}

.mt-46rem {
  margin-top: 46rem;
}

.mb-46rem {
  margin-bottom: 46rem;
}

.p-47rem {
  padding: 47rem;
}

.pt-47rem {
  padding-top: 47rem;
}

.pb-47rem {
  padding-bottom: 47rem;
}

.sp-47rem {
  padding-top: 47rem;
  padding-bottom: 47rem;
}

.spt-47rem {
  padding-top: 47rem;
}

.spb-47rem {
  padding-bottom: 47rem;
}

.m-47rem {
  margin: 47rem;
}

.mt-47rem {
  margin-top: 47rem;
}

.mb-47rem {
  margin-bottom: 47rem;
}

.p-48rem {
  padding: 48rem;
}

.pt-48rem {
  padding-top: 48rem;
}

.pb-48rem {
  padding-bottom: 48rem;
}

.sp-48rem {
  padding-top: 48rem;
  padding-bottom: 48rem;
}

.spt-48rem {
  padding-top: 48rem;
}

.spb-48rem {
  padding-bottom: 48rem;
}

.m-48rem {
  margin: 48rem;
}

.mt-48rem {
  margin-top: 48rem;
}

.mb-48rem {
  margin-bottom: 48rem;
}

.p-49rem {
  padding: 49rem;
}

.pt-49rem {
  padding-top: 49rem;
}

.pb-49rem {
  padding-bottom: 49rem;
}

.sp-49rem {
  padding-top: 49rem;
  padding-bottom: 49rem;
}

.spt-49rem {
  padding-top: 49rem;
}

.spb-49rem {
  padding-bottom: 49rem;
}

.m-49rem {
  margin: 49rem;
}

.mt-49rem {
  margin-top: 49rem;
}

.mb-49rem {
  margin-bottom: 49rem;
}

.p-50rem {
  padding: 50rem;
}

.pt-50rem {
  padding-top: 50rem;
}

.pb-50rem {
  padding-bottom: 50rem;
}

.sp-50rem {
  padding-top: 50rem;
  padding-bottom: 50rem;
}

.spt-50rem {
  padding-top: 50rem;
}

.spb-50rem {
  padding-bottom: 50rem;
}

.m-50rem {
  margin: 50rem;
}

.mt-50rem {
  margin-top: 50rem;
}

.mb-50rem {
  margin-bottom: 50rem;
}

.p-51rem {
  padding: 51rem;
}

.pt-51rem {
  padding-top: 51rem;
}

.pb-51rem {
  padding-bottom: 51rem;
}

.sp-51rem {
  padding-top: 51rem;
  padding-bottom: 51rem;
}

.spt-51rem {
  padding-top: 51rem;
}

.spb-51rem {
  padding-bottom: 51rem;
}

.m-51rem {
  margin: 51rem;
}

.mt-51rem {
  margin-top: 51rem;
}

.mb-51rem {
  margin-bottom: 51rem;
}

.p-52rem {
  padding: 52rem;
}

.pt-52rem {
  padding-top: 52rem;
}

.pb-52rem {
  padding-bottom: 52rem;
}

.sp-52rem {
  padding-top: 52rem;
  padding-bottom: 52rem;
}

.spt-52rem {
  padding-top: 52rem;
}

.spb-52rem {
  padding-bottom: 52rem;
}

.m-52rem {
  margin: 52rem;
}

.mt-52rem {
  margin-top: 52rem;
}

.mb-52rem {
  margin-bottom: 52rem;
}

.p-53rem {
  padding: 53rem;
}

.pt-53rem {
  padding-top: 53rem;
}

.pb-53rem {
  padding-bottom: 53rem;
}

.sp-53rem {
  padding-top: 53rem;
  padding-bottom: 53rem;
}

.spt-53rem {
  padding-top: 53rem;
}

.spb-53rem {
  padding-bottom: 53rem;
}

.m-53rem {
  margin: 53rem;
}

.mt-53rem {
  margin-top: 53rem;
}

.mb-53rem {
  margin-bottom: 53rem;
}

.p-54rem {
  padding: 54rem;
}

.pt-54rem {
  padding-top: 54rem;
}

.pb-54rem {
  padding-bottom: 54rem;
}

.sp-54rem {
  padding-top: 54rem;
  padding-bottom: 54rem;
}

.spt-54rem {
  padding-top: 54rem;
}

.spb-54rem {
  padding-bottom: 54rem;
}

.m-54rem {
  margin: 54rem;
}

.mt-54rem {
  margin-top: 54rem;
}

.mb-54rem {
  margin-bottom: 54rem;
}

.p-55rem {
  padding: 55rem;
}

.pt-55rem {
  padding-top: 55rem;
}

.pb-55rem {
  padding-bottom: 55rem;
}

.sp-55rem {
  padding-top: 55rem;
  padding-bottom: 55rem;
}

.spt-55rem {
  padding-top: 55rem;
}

.spb-55rem {
  padding-bottom: 55rem;
}

.m-55rem {
  margin: 55rem;
}

.mt-55rem {
  margin-top: 55rem;
}

.mb-55rem {
  margin-bottom: 55rem;
}

.p-56rem {
  padding: 56rem;
}

.pt-56rem {
  padding-top: 56rem;
}

.pb-56rem {
  padding-bottom: 56rem;
}

.sp-56rem {
  padding-top: 56rem;
  padding-bottom: 56rem;
}

.spt-56rem {
  padding-top: 56rem;
}

.spb-56rem {
  padding-bottom: 56rem;
}

.m-56rem {
  margin: 56rem;
}

.mt-56rem {
  margin-top: 56rem;
}

.mb-56rem {
  margin-bottom: 56rem;
}

.p-57rem {
  padding: 57rem;
}

.pt-57rem {
  padding-top: 57rem;
}

.pb-57rem {
  padding-bottom: 57rem;
}

.sp-57rem {
  padding-top: 57rem;
  padding-bottom: 57rem;
}

.spt-57rem {
  padding-top: 57rem;
}

.spb-57rem {
  padding-bottom: 57rem;
}

.m-57rem {
  margin: 57rem;
}

.mt-57rem {
  margin-top: 57rem;
}

.mb-57rem {
  margin-bottom: 57rem;
}

.p-58rem {
  padding: 58rem;
}

.pt-58rem {
  padding-top: 58rem;
}

.pb-58rem {
  padding-bottom: 58rem;
}

.sp-58rem {
  padding-top: 58rem;
  padding-bottom: 58rem;
}

.spt-58rem {
  padding-top: 58rem;
}

.spb-58rem {
  padding-bottom: 58rem;
}

.m-58rem {
  margin: 58rem;
}

.mt-58rem {
  margin-top: 58rem;
}

.mb-58rem {
  margin-bottom: 58rem;
}

.p-59rem {
  padding: 59rem;
}

.pt-59rem {
  padding-top: 59rem;
}

.pb-59rem {
  padding-bottom: 59rem;
}

.sp-59rem {
  padding-top: 59rem;
  padding-bottom: 59rem;
}

.spt-59rem {
  padding-top: 59rem;
}

.spb-59rem {
  padding-bottom: 59rem;
}

.m-59rem {
  margin: 59rem;
}

.mt-59rem {
  margin-top: 59rem;
}

.mb-59rem {
  margin-bottom: 59rem;
}

.p-60rem {
  padding: 60rem;
}

.pt-60rem {
  padding-top: 60rem;
}

.pb-60rem {
  padding-bottom: 60rem;
}

.sp-60rem {
  padding-top: 60rem;
  padding-bottom: 60rem;
}

.spt-60rem {
  padding-top: 60rem;
}

.spb-60rem {
  padding-bottom: 60rem;
}

.m-60rem {
  margin: 60rem;
}

.mt-60rem {
  margin-top: 60rem;
}

.mb-60rem {
  margin-bottom: 60rem;
}

.p-61rem {
  padding: 61rem;
}

.pt-61rem {
  padding-top: 61rem;
}

.pb-61rem {
  padding-bottom: 61rem;
}

.sp-61rem {
  padding-top: 61rem;
  padding-bottom: 61rem;
}

.spt-61rem {
  padding-top: 61rem;
}

.spb-61rem {
  padding-bottom: 61rem;
}

.m-61rem {
  margin: 61rem;
}

.mt-61rem {
  margin-top: 61rem;
}

.mb-61rem {
  margin-bottom: 61rem;
}

.p-62rem {
  padding: 62rem;
}

.pt-62rem {
  padding-top: 62rem;
}

.pb-62rem {
  padding-bottom: 62rem;
}

.sp-62rem {
  padding-top: 62rem;
  padding-bottom: 62rem;
}

.spt-62rem {
  padding-top: 62rem;
}

.spb-62rem {
  padding-bottom: 62rem;
}

.m-62rem {
  margin: 62rem;
}

.mt-62rem {
  margin-top: 62rem;
}

.mb-62rem {
  margin-bottom: 62rem;
}

.p-63rem {
  padding: 63rem;
}

.pt-63rem {
  padding-top: 63rem;
}

.pb-63rem {
  padding-bottom: 63rem;
}

.sp-63rem {
  padding-top: 63rem;
  padding-bottom: 63rem;
}

.spt-63rem {
  padding-top: 63rem;
}

.spb-63rem {
  padding-bottom: 63rem;
}

.m-63rem {
  margin: 63rem;
}

.mt-63rem {
  margin-top: 63rem;
}

.mb-63rem {
  margin-bottom: 63rem;
}

.p-64rem {
  padding: 64rem;
}

.pt-64rem {
  padding-top: 64rem;
}

.pb-64rem {
  padding-bottom: 64rem;
}

.sp-64rem {
  padding-top: 64rem;
  padding-bottom: 64rem;
}

.spt-64rem {
  padding-top: 64rem;
}

.spb-64rem {
  padding-bottom: 64rem;
}

.m-64rem {
  margin: 64rem;
}

.mt-64rem {
  margin-top: 64rem;
}

.mb-64rem {
  margin-bottom: 64rem;
}

.p-65rem {
  padding: 65rem;
}

.pt-65rem {
  padding-top: 65rem;
}

.pb-65rem {
  padding-bottom: 65rem;
}

.sp-65rem {
  padding-top: 65rem;
  padding-bottom: 65rem;
}

.spt-65rem {
  padding-top: 65rem;
}

.spb-65rem {
  padding-bottom: 65rem;
}

.m-65rem {
  margin: 65rem;
}

.mt-65rem {
  margin-top: 65rem;
}

.mb-65rem {
  margin-bottom: 65rem;
}

.p-66rem {
  padding: 66rem;
}

.pt-66rem {
  padding-top: 66rem;
}

.pb-66rem {
  padding-bottom: 66rem;
}

.sp-66rem {
  padding-top: 66rem;
  padding-bottom: 66rem;
}

.spt-66rem {
  padding-top: 66rem;
}

.spb-66rem {
  padding-bottom: 66rem;
}

.m-66rem {
  margin: 66rem;
}

.mt-66rem {
  margin-top: 66rem;
}

.mb-66rem {
  margin-bottom: 66rem;
}

.p-67rem {
  padding: 67rem;
}

.pt-67rem {
  padding-top: 67rem;
}

.pb-67rem {
  padding-bottom: 67rem;
}

.sp-67rem {
  padding-top: 67rem;
  padding-bottom: 67rem;
}

.spt-67rem {
  padding-top: 67rem;
}

.spb-67rem {
  padding-bottom: 67rem;
}

.m-67rem {
  margin: 67rem;
}

.mt-67rem {
  margin-top: 67rem;
}

.mb-67rem {
  margin-bottom: 67rem;
}

.p-68rem {
  padding: 68rem;
}

.pt-68rem {
  padding-top: 68rem;
}

.pb-68rem {
  padding-bottom: 68rem;
}

.sp-68rem {
  padding-top: 68rem;
  padding-bottom: 68rem;
}

.spt-68rem {
  padding-top: 68rem;
}

.spb-68rem {
  padding-bottom: 68rem;
}

.m-68rem {
  margin: 68rem;
}

.mt-68rem {
  margin-top: 68rem;
}

.mb-68rem {
  margin-bottom: 68rem;
}

.p-69rem {
  padding: 69rem;
}

.pt-69rem {
  padding-top: 69rem;
}

.pb-69rem {
  padding-bottom: 69rem;
}

.sp-69rem {
  padding-top: 69rem;
  padding-bottom: 69rem;
}

.spt-69rem {
  padding-top: 69rem;
}

.spb-69rem {
  padding-bottom: 69rem;
}

.m-69rem {
  margin: 69rem;
}

.mt-69rem {
  margin-top: 69rem;
}

.mb-69rem {
  margin-bottom: 69rem;
}

.p-70rem {
  padding: 70rem;
}

.pt-70rem {
  padding-top: 70rem;
}

.pb-70rem {
  padding-bottom: 70rem;
}

.sp-70rem {
  padding-top: 70rem;
  padding-bottom: 70rem;
}

.spt-70rem {
  padding-top: 70rem;
}

.spb-70rem {
  padding-bottom: 70rem;
}

.m-70rem {
  margin: 70rem;
}

.mt-70rem {
  margin-top: 70rem;
}

.mb-70rem {
  margin-bottom: 70rem;
}

.p-71rem {
  padding: 71rem;
}

.pt-71rem {
  padding-top: 71rem;
}

.pb-71rem {
  padding-bottom: 71rem;
}

.sp-71rem {
  padding-top: 71rem;
  padding-bottom: 71rem;
}

.spt-71rem {
  padding-top: 71rem;
}

.spb-71rem {
  padding-bottom: 71rem;
}

.m-71rem {
  margin: 71rem;
}

.mt-71rem {
  margin-top: 71rem;
}

.mb-71rem {
  margin-bottom: 71rem;
}

.p-72rem {
  padding: 72rem;
}

.pt-72rem {
  padding-top: 72rem;
}

.pb-72rem {
  padding-bottom: 72rem;
}

.sp-72rem {
  padding-top: 72rem;
  padding-bottom: 72rem;
}

.spt-72rem {
  padding-top: 72rem;
}

.spb-72rem {
  padding-bottom: 72rem;
}

.m-72rem {
  margin: 72rem;
}

.mt-72rem {
  margin-top: 72rem;
}

.mb-72rem {
  margin-bottom: 72rem;
}

.p-73rem {
  padding: 73rem;
}

.pt-73rem {
  padding-top: 73rem;
}

.pb-73rem {
  padding-bottom: 73rem;
}

.sp-73rem {
  padding-top: 73rem;
  padding-bottom: 73rem;
}

.spt-73rem {
  padding-top: 73rem;
}

.spb-73rem {
  padding-bottom: 73rem;
}

.m-73rem {
  margin: 73rem;
}

.mt-73rem {
  margin-top: 73rem;
}

.mb-73rem {
  margin-bottom: 73rem;
}

.p-74rem {
  padding: 74rem;
}

.pt-74rem {
  padding-top: 74rem;
}

.pb-74rem {
  padding-bottom: 74rem;
}

.sp-74rem {
  padding-top: 74rem;
  padding-bottom: 74rem;
}

.spt-74rem {
  padding-top: 74rem;
}

.spb-74rem {
  padding-bottom: 74rem;
}

.m-74rem {
  margin: 74rem;
}

.mt-74rem {
  margin-top: 74rem;
}

.mb-74rem {
  margin-bottom: 74rem;
}

.p-75rem {
  padding: 75rem;
}

.pt-75rem {
  padding-top: 75rem;
}

.pb-75rem {
  padding-bottom: 75rem;
}

.sp-75rem {
  padding-top: 75rem;
  padding-bottom: 75rem;
}

.spt-75rem {
  padding-top: 75rem;
}

.spb-75rem {
  padding-bottom: 75rem;
}

.m-75rem {
  margin: 75rem;
}

.mt-75rem {
  margin-top: 75rem;
}

.mb-75rem {
  margin-bottom: 75rem;
}

.p-76rem {
  padding: 76rem;
}

.pt-76rem {
  padding-top: 76rem;
}

.pb-76rem {
  padding-bottom: 76rem;
}

.sp-76rem {
  padding-top: 76rem;
  padding-bottom: 76rem;
}

.spt-76rem {
  padding-top: 76rem;
}

.spb-76rem {
  padding-bottom: 76rem;
}

.m-76rem {
  margin: 76rem;
}

.mt-76rem {
  margin-top: 76rem;
}

.mb-76rem {
  margin-bottom: 76rem;
}

.p-77rem {
  padding: 77rem;
}

.pt-77rem {
  padding-top: 77rem;
}

.pb-77rem {
  padding-bottom: 77rem;
}

.sp-77rem {
  padding-top: 77rem;
  padding-bottom: 77rem;
}

.spt-77rem {
  padding-top: 77rem;
}

.spb-77rem {
  padding-bottom: 77rem;
}

.m-77rem {
  margin: 77rem;
}

.mt-77rem {
  margin-top: 77rem;
}

.mb-77rem {
  margin-bottom: 77rem;
}

.p-78rem {
  padding: 78rem;
}

.pt-78rem {
  padding-top: 78rem;
}

.pb-78rem {
  padding-bottom: 78rem;
}

.sp-78rem {
  padding-top: 78rem;
  padding-bottom: 78rem;
}

.spt-78rem {
  padding-top: 78rem;
}

.spb-78rem {
  padding-bottom: 78rem;
}

.m-78rem {
  margin: 78rem;
}

.mt-78rem {
  margin-top: 78rem;
}

.mb-78rem {
  margin-bottom: 78rem;
}

.p-79rem {
  padding: 79rem;
}

.pt-79rem {
  padding-top: 79rem;
}

.pb-79rem {
  padding-bottom: 79rem;
}

.sp-79rem {
  padding-top: 79rem;
  padding-bottom: 79rem;
}

.spt-79rem {
  padding-top: 79rem;
}

.spb-79rem {
  padding-bottom: 79rem;
}

.m-79rem {
  margin: 79rem;
}

.mt-79rem {
  margin-top: 79rem;
}

.mb-79rem {
  margin-bottom: 79rem;
}

.p-80rem {
  padding: 80rem;
}

.pt-80rem {
  padding-top: 80rem;
}

.pb-80rem {
  padding-bottom: 80rem;
}

.sp-80rem {
  padding-top: 80rem;
  padding-bottom: 80rem;
}

.spt-80rem {
  padding-top: 80rem;
}

.spb-80rem {
  padding-bottom: 80rem;
}

.m-80rem {
  margin: 80rem;
}

.mt-80rem {
  margin-top: 80rem;
}

.mb-80rem {
  margin-bottom: 80rem;
}

.p-81rem {
  padding: 81rem;
}

.pt-81rem {
  padding-top: 81rem;
}

.pb-81rem {
  padding-bottom: 81rem;
}

.sp-81rem {
  padding-top: 81rem;
  padding-bottom: 81rem;
}

.spt-81rem {
  padding-top: 81rem;
}

.spb-81rem {
  padding-bottom: 81rem;
}

.m-81rem {
  margin: 81rem;
}

.mt-81rem {
  margin-top: 81rem;
}

.mb-81rem {
  margin-bottom: 81rem;
}

.p-82rem {
  padding: 82rem;
}

.pt-82rem {
  padding-top: 82rem;
}

.pb-82rem {
  padding-bottom: 82rem;
}

.sp-82rem {
  padding-top: 82rem;
  padding-bottom: 82rem;
}

.spt-82rem {
  padding-top: 82rem;
}

.spb-82rem {
  padding-bottom: 82rem;
}

.m-82rem {
  margin: 82rem;
}

.mt-82rem {
  margin-top: 82rem;
}

.mb-82rem {
  margin-bottom: 82rem;
}

.p-83rem {
  padding: 83rem;
}

.pt-83rem {
  padding-top: 83rem;
}

.pb-83rem {
  padding-bottom: 83rem;
}

.sp-83rem {
  padding-top: 83rem;
  padding-bottom: 83rem;
}

.spt-83rem {
  padding-top: 83rem;
}

.spb-83rem {
  padding-bottom: 83rem;
}

.m-83rem {
  margin: 83rem;
}

.mt-83rem {
  margin-top: 83rem;
}

.mb-83rem {
  margin-bottom: 83rem;
}

.p-84rem {
  padding: 84rem;
}

.pt-84rem {
  padding-top: 84rem;
}

.pb-84rem {
  padding-bottom: 84rem;
}

.sp-84rem {
  padding-top: 84rem;
  padding-bottom: 84rem;
}

.spt-84rem {
  padding-top: 84rem;
}

.spb-84rem {
  padding-bottom: 84rem;
}

.m-84rem {
  margin: 84rem;
}

.mt-84rem {
  margin-top: 84rem;
}

.mb-84rem {
  margin-bottom: 84rem;
}

.p-85rem {
  padding: 85rem;
}

.pt-85rem {
  padding-top: 85rem;
}

.pb-85rem {
  padding-bottom: 85rem;
}

.sp-85rem {
  padding-top: 85rem;
  padding-bottom: 85rem;
}

.spt-85rem {
  padding-top: 85rem;
}

.spb-85rem {
  padding-bottom: 85rem;
}

.m-85rem {
  margin: 85rem;
}

.mt-85rem {
  margin-top: 85rem;
}

.mb-85rem {
  margin-bottom: 85rem;
}

.p-86rem {
  padding: 86rem;
}

.pt-86rem {
  padding-top: 86rem;
}

.pb-86rem {
  padding-bottom: 86rem;
}

.sp-86rem {
  padding-top: 86rem;
  padding-bottom: 86rem;
}

.spt-86rem {
  padding-top: 86rem;
}

.spb-86rem {
  padding-bottom: 86rem;
}

.m-86rem {
  margin: 86rem;
}

.mt-86rem {
  margin-top: 86rem;
}

.mb-86rem {
  margin-bottom: 86rem;
}

.p-87rem {
  padding: 87rem;
}

.pt-87rem {
  padding-top: 87rem;
}

.pb-87rem {
  padding-bottom: 87rem;
}

.sp-87rem {
  padding-top: 87rem;
  padding-bottom: 87rem;
}

.spt-87rem {
  padding-top: 87rem;
}

.spb-87rem {
  padding-bottom: 87rem;
}

.m-87rem {
  margin: 87rem;
}

.mt-87rem {
  margin-top: 87rem;
}

.mb-87rem {
  margin-bottom: 87rem;
}

.p-88rem {
  padding: 88rem;
}

.pt-88rem {
  padding-top: 88rem;
}

.pb-88rem {
  padding-bottom: 88rem;
}

.sp-88rem {
  padding-top: 88rem;
  padding-bottom: 88rem;
}

.spt-88rem {
  padding-top: 88rem;
}

.spb-88rem {
  padding-bottom: 88rem;
}

.m-88rem {
  margin: 88rem;
}

.mt-88rem {
  margin-top: 88rem;
}

.mb-88rem {
  margin-bottom: 88rem;
}

.p-89rem {
  padding: 89rem;
}

.pt-89rem {
  padding-top: 89rem;
}

.pb-89rem {
  padding-bottom: 89rem;
}

.sp-89rem {
  padding-top: 89rem;
  padding-bottom: 89rem;
}

.spt-89rem {
  padding-top: 89rem;
}

.spb-89rem {
  padding-bottom: 89rem;
}

.m-89rem {
  margin: 89rem;
}

.mt-89rem {
  margin-top: 89rem;
}

.mb-89rem {
  margin-bottom: 89rem;
}

.p-90rem {
  padding: 90rem;
}

.pt-90rem {
  padding-top: 90rem;
}

.pb-90rem {
  padding-bottom: 90rem;
}

.sp-90rem {
  padding-top: 90rem;
  padding-bottom: 90rem;
}

.spt-90rem {
  padding-top: 90rem;
}

.spb-90rem {
  padding-bottom: 90rem;
}

.m-90rem {
  margin: 90rem;
}

.mt-90rem {
  margin-top: 90rem;
}

.mb-90rem {
  margin-bottom: 90rem;
}

.p-91rem {
  padding: 91rem;
}

.pt-91rem {
  padding-top: 91rem;
}

.pb-91rem {
  padding-bottom: 91rem;
}

.sp-91rem {
  padding-top: 91rem;
  padding-bottom: 91rem;
}

.spt-91rem {
  padding-top: 91rem;
}

.spb-91rem {
  padding-bottom: 91rem;
}

.m-91rem {
  margin: 91rem;
}

.mt-91rem {
  margin-top: 91rem;
}

.mb-91rem {
  margin-bottom: 91rem;
}

.p-92rem {
  padding: 92rem;
}

.pt-92rem {
  padding-top: 92rem;
}

.pb-92rem {
  padding-bottom: 92rem;
}

.sp-92rem {
  padding-top: 92rem;
  padding-bottom: 92rem;
}

.spt-92rem {
  padding-top: 92rem;
}

.spb-92rem {
  padding-bottom: 92rem;
}

.m-92rem {
  margin: 92rem;
}

.mt-92rem {
  margin-top: 92rem;
}

.mb-92rem {
  margin-bottom: 92rem;
}

.p-93rem {
  padding: 93rem;
}

.pt-93rem {
  padding-top: 93rem;
}

.pb-93rem {
  padding-bottom: 93rem;
}

.sp-93rem {
  padding-top: 93rem;
  padding-bottom: 93rem;
}

.spt-93rem {
  padding-top: 93rem;
}

.spb-93rem {
  padding-bottom: 93rem;
}

.m-93rem {
  margin: 93rem;
}

.mt-93rem {
  margin-top: 93rem;
}

.mb-93rem {
  margin-bottom: 93rem;
}

.p-94rem {
  padding: 94rem;
}

.pt-94rem {
  padding-top: 94rem;
}

.pb-94rem {
  padding-bottom: 94rem;
}

.sp-94rem {
  padding-top: 94rem;
  padding-bottom: 94rem;
}

.spt-94rem {
  padding-top: 94rem;
}

.spb-94rem {
  padding-bottom: 94rem;
}

.m-94rem {
  margin: 94rem;
}

.mt-94rem {
  margin-top: 94rem;
}

.mb-94rem {
  margin-bottom: 94rem;
}

.p-95rem {
  padding: 95rem;
}

.pt-95rem {
  padding-top: 95rem;
}

.pb-95rem {
  padding-bottom: 95rem;
}

.sp-95rem {
  padding-top: 95rem;
  padding-bottom: 95rem;
}

.spt-95rem {
  padding-top: 95rem;
}

.spb-95rem {
  padding-bottom: 95rem;
}

.m-95rem {
  margin: 95rem;
}

.mt-95rem {
  margin-top: 95rem;
}

.mb-95rem {
  margin-bottom: 95rem;
}

.p-96rem {
  padding: 96rem;
}

.pt-96rem {
  padding-top: 96rem;
}

.pb-96rem {
  padding-bottom: 96rem;
}

.sp-96rem {
  padding-top: 96rem;
  padding-bottom: 96rem;
}

.spt-96rem {
  padding-top: 96rem;
}

.spb-96rem {
  padding-bottom: 96rem;
}

.m-96rem {
  margin: 96rem;
}

.mt-96rem {
  margin-top: 96rem;
}

.mb-96rem {
  margin-bottom: 96rem;
}

.p-97rem {
  padding: 97rem;
}

.pt-97rem {
  padding-top: 97rem;
}

.pb-97rem {
  padding-bottom: 97rem;
}

.sp-97rem {
  padding-top: 97rem;
  padding-bottom: 97rem;
}

.spt-97rem {
  padding-top: 97rem;
}

.spb-97rem {
  padding-bottom: 97rem;
}

.m-97rem {
  margin: 97rem;
}

.mt-97rem {
  margin-top: 97rem;
}

.mb-97rem {
  margin-bottom: 97rem;
}

.p-98rem {
  padding: 98rem;
}

.pt-98rem {
  padding-top: 98rem;
}

.pb-98rem {
  padding-bottom: 98rem;
}

.sp-98rem {
  padding-top: 98rem;
  padding-bottom: 98rem;
}

.spt-98rem {
  padding-top: 98rem;
}

.spb-98rem {
  padding-bottom: 98rem;
}

.m-98rem {
  margin: 98rem;
}

.mt-98rem {
  margin-top: 98rem;
}

.mb-98rem {
  margin-bottom: 98rem;
}

.p-99rem {
  padding: 99rem;
}

.pt-99rem {
  padding-top: 99rem;
}

.pb-99rem {
  padding-bottom: 99rem;
}

.sp-99rem {
  padding-top: 99rem;
  padding-bottom: 99rem;
}

.spt-99rem {
  padding-top: 99rem;
}

.spb-99rem {
  padding-bottom: 99rem;
}

.m-99rem {
  margin: 99rem;
}

.mt-99rem {
  margin-top: 99rem;
}

.mb-99rem {
  margin-bottom: 99rem;
}

.p-100rem {
  padding: 100rem;
}

.pt-100rem {
  padding-top: 100rem;
}

.pb-100rem {
  padding-bottom: 100rem;
}

.sp-100rem {
  padding-top: 100rem;
  padding-bottom: 100rem;
}

.spt-100rem {
  padding-top: 100rem;
}

.spb-100rem {
  padding-bottom: 100rem;
}

.m-100rem {
  margin: 100rem;
}

.mt-100rem {
  margin-top: 100rem;
}

.mb-100rem {
  margin-bottom: 100rem;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: flex-center;
}

.align-self-end {
  align-self: flex-end;
}

.text-align-center {
  text-align: center;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.border-right-primary {
  border-right: 1px solid rgba(242, 233, 228, 0.4);
}

.image-reset {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.image-reset img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.position-sticky-inherit {
  position: sticky;
  top: 0px;
  background-color: inherit;
  z-index: 2;
}

.position-fixed {
  top: 0;
  z-index: 3;
}

.d-none {
  display: none;
  opacity: 0;
  height: 0;
}

.btn:link, .btn:visited {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s;
  display: inline-block;
}
.btn--main {
  border-radius: 50px;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #f2e9e4;
  color: #22223b;
}
.btn--main:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--main:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--outline {
  border-radius: 50px;
  text-decoration: none;
  background-color: transparent;
  color: #f2e9e4;
  border: 1px solid #f2e9e4;
  padding: 0.9rem 1.9rem;
}
.btn--outline:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--outline:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--text {
  text-decoration: none;
  color: #f2e9e4;
}
.btn--text .text {
  display: inline-block;
  border-bottom: 1px solid rgba(242, 233, 228, 0.4);
  padding-bottom: 1px;
  font-size: 1.4rem;
}
.btn--text .text-icon {
  margin-left: 2px;
  transition: all 0.3s;
  font-size: 1.2rem;
}
.btn--text:hover .text-icon {
  transform: rotate(-20deg);
  display: inline-block;
  margin-left: 4px;
}
.btn--submit {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  background-color: #f2e9e4;
  color: #22223b;
  transition: all 0.2s;
}
.btn--submit:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--submit:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.project-card {
  display: flex;
  align-items: center;
  border: 1px solid rgba(242, 233, 228, 0.4);
  border-radius: 10px;
  height: 100%;
  background-color: rgba(154, 140, 152, 0.5);
  padding: 1.5rem;
}
.project-card__image-box {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.project-card__image-box img {
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card:hover .project-card__image-box img {
  transform: scale(1.03);
}

.blog-card {
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(242, 233, 228, 0.4);
  padding: 1.5rem;
}
.blog-card__image {
  transition: transform 0.3s;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card:hover .blog-card__image {
  transform: scale(1.03);
}

.form {
  background-color: rgba(154, 140, 152, 0.5);
  padding: 3rem;
  border-radius: 10px;
}
.form > *:not(:last-child) {
  margin-bottom: 3rem;
}
.form__input-box {
  width: 100%;
  position: relative;
}
.form__input {
  color: #22223b;
  background-color: #f2e9e4;
  width: 100%;
  padding: 1.4rem 4.5rem 1.4rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
}
.form__input:focus {
  outline: none;
}
.form__input::placeholder {
  font-size: 1.6rem;
  color: rgba(154, 140, 152, 0.5);
}
.form__icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  color: #22223b;
  transform: translateY(-50%);
}
.form__text-area {
  letter-spacing: -1px;
  font-size: 1.6rem;
  width: 100%;
  color: #22223b;
  border-radius: 10px;
  padding: 1.4rem 4.5rem 1.4rem 2rem;
  background-color: #f2e9e4;
}
.form__text-area:focus {
  outline: none;
}
.form__text-area::placeholder {
  color: rgba(154, 140, 152, 0.5);
  font-size: 1.4rem;
  letter-spacing: -1px;
}

header {
  background-image: linear-gradient(to right, rgba(34, 34, 59, 0.75), rgba(154, 140, 152, 0.6)), url("https://images.unsplash.com/photo-1489257712451-3a66755ca19c?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.section-hero {
  border-top: 1px solid rgba(242, 233, 228, 0.4);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 6rem;
}
@media (min-width: 62em) {
  .section-hero {
    text-align: start;
    align-items: start;
  }
}

.section-about__image-box {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.section-about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-working .row {
  padding-inline: 20rem;
}
.section-working .row > *:not(:last-child) {
  border-right: 1px solid rgba(242, 233, 228, 0.4);
  margin-right: 2rem;
}

/*=============
  Projects section
  =============*/
.section-projects {
  background-color: #4a4e69;
  border-radius: 10px;
}
.section-projects__text-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.section-projects__text-content {
  max-width: 60%;
}

/*=============
  Blog section
  =============*/
.section-blog__text-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section-blog__text-content {
  max-width: 60%;
}

/*=============
  Footer section
  =============*/
.section-footer {
  background-color: #4a4e69;
  border-radius: 10px;
}
.section-footer__heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.section-footer__news-box {
  margin-bottom: 1.6rem;
}
.section-footer__news-box:not(:last-child) {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(242, 233, 228, 0.4);
}
.section-footer__social-icons {
  justify-content: start;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.section-footer__social-icon {
  font-size: 2rem;
  text-decoration: none;
  color: #f2e9e4;
}
.section-footer__title {
  font-size: 1.8rem;
  font-weight: 400;
}
.section-footer__contact-info {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 1.6rem;
}
.section-footer__contact-info:not(:last-child) {
  margin-bottom: 1rem;
}
.section-footer i {
  font-size: 1.6rem;
  color: #f2e9e4;
}
.section-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  margin-top: 2.6rem;
  border-top: 1px solid rgba(242, 233, 228, 0.4);
}
.section-footer__policy-terms {
  display: flex;
  column-gap: 2rem;
}
.section-footer__links {
  display: inline-block;
  text-decoration: none;
  color: #f2e9e4;
}

/*=============
    FAQ section
    =============*/
.section-faq__faq-items {
  padding: 1rem 2rem;
  border: 1px solid rgba(242, 233, 228, 0.4);
  border-radius: 10px;
}
.section-faq__faq-items:not(:last-child) {
  margin-bottom: 2rem;
}
.section-faq__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.section-faq__description {
  transition: all 0.5s;
  border-top: 1px solid rgba(242, 233, 228, 0.4);
  padding-top: 0.8rem;
  margin-top: 0.8rem;
}

/*=============
    Contact section
    =============*/
.section-contact {
  background-color: #4a4e69;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.section-contact__feature-box {
  display: flex;
  column-gap: 2rem;
}
.section-contact__feature-box:not(:last-child) {
  border-bottom: 1px solid rgba(242, 233, 228, 0.4);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.section-contact__icon {
  font-size: 1.6rem;
  margin-top: 0.65rem;
  display: inline-block;
}
.section-contact__topic {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 2.6rem 0;
}
.navbar__links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0.5rem 1rem rgba(154, 140, 152, 0.5);
}
.navbar__links a {
  color: #f2e9e4;
  text-decoration: none;
}
.navbar__links > *:not(:last-child) {
  padding-right: 1.5rem;
  border-right: 1px solid rgba(242, 233, 228, 0.4);
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row {
  --gutter-x: 24px;
  --gutter-y: 0px;
  display: flex;
  margin-left: calc(var(--gutter-x) * -0.5);
  margin-right: calc(var(--gutter-x) * -0.5);
  margin-top: calc(var(--gutter-y) * -1);
}

.row > * {
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-top: calc(var(--gutter-y));
  width: 100%;
}

.gutter-x-0 {
  --gutter-x: 0px;
}

.gutter-y-0 {
  --gutter-y: 0px;
}

.gutter-x-10 {
  --gutter-x: 10px;
}

.gutter-y-10 {
  --gutter-y: 10px;
}

.gutter-x-20 {
  --gutter-x: 20px;
}

.gutter-y-20 {
  --gutter-y: 20px;
}

.gutter-x-22 {
  --gutter-x: 22px;
}

.gutter-y-22 {
  --gutter-y: 22px;
}

.gutter-y-24 {
  --gutter-y: 24px;
}

.gutter-x-24 {
  --gutter-x: 24px;
}

.gutter-y-24 {
  --gutter-y: 24px;
}

.gutter-x-30 {
  --gutter-x: 30px;
}

.gutter-y-30 {
  --gutter-y: 30px;
}

.gutter-x-60 {
  --gutter-x: 6rem;
}

.gutter-y-60 {
  --gutter-y: 6rem;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 480px) {
  .col-xs-1 {
    width: 8.333%;
  }
  .col-xs-2 {
    width: 16.667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333%;
  }
  .col-xs-5 {
    width: 41.667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.333%;
  }
  .col-xs-8 {
    width: 66.667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.333%;
  }
  .col-xs-11 {
    width: 91.667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.333%;
  }
  .col-sm-2 {
    width: 16.667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333%;
  }
  .col-sm-5 {
    width: 41.667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333%;
  }
  .col-sm-8 {
    width: 66.667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333%;
  }
  .col-sm-11 {
    width: 91.667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333%;
  }
  .col-lg-2 {
    width: 16.667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333%;
  }
  .col-lg-5 {
    width: 41.667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333%;
  }
  .col-lg-8 {
    width: 66.667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333%;
  }
  .col-lg-11 {
    width: 91.667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    width: auto;
    flex: 0 0 auto;
  }
  .col-xl-1 {
    width: 8.333%;
  }
  .col-xl-2 {
    width: 16.667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333%;
  }
  .col-xl-5 {
    width: 41.667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333%;
  }
  .col-xl-8 {
    width: 66.667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333%;
  }
  .col-xl-11 {
    width: 91.667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.333%;
  }
  .col-xxl-2 {
    width: 16.667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.333%;
  }
  .col-xxl-5 {
    width: 41.667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.333%;
  }
  .col-xxl-8 {
    width: 66.667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.333%;
  }
  .col-xxl-11 {
    width: 91.667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
