@use "../abstracts" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: $font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $c-text-dark;
  padding: 3rem;
  box-sizing: border-box;
}
