@use "../abstracts" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  /* 
  Why 62.5%?
   - Browser root font size 16 pixel. Now we will set font-size: 10px; for easy calculation.
   - We set it as a % value, because then it will take it's parent font size as the reference, which is browser's default 16px.
   - if we set font-size: 10px then browser's 16px will be replaced by 10. So user lost the flexibility of changing it. Like zoom in and out of the browser will have no effect.
   */
}
body {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $c-text-tertiary;
  padding: 3rem;
  background-color: $c-primary;
  box-sizing: border-box;
}
