@use "../abstracts" as *;

/*=============
  Section Project Details 
  =============*/
.project-details {
  background-color: $c-primary-v2;
  border-radius: $border-radius-base;
  display: flex;
  gap: 2rem;
  flex-direction: column;

  @include respond-to(lg) {
    flex-direction: row;
  }

  &__image-box {
    background-color: red;
    width: 100%;
    border-radius: $border-radius-base;
    overflow: hidden;
    @include respond-to(lg) {
      width: 43%;
      flex-direction: row;
    }
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.03);
    }
  }
  &__text-box {
    width: 100%;
    @include respond-to(lg) {
      width: 55%;
    }
  }
  &__details-list {
  }
}

/*=============
  Section Links
  =============*/
.section-link {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  &__link-item {
    color: $c-primary;
    background-color: $c-tertiary;
    padding: 10px 20px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
  }
  &__link-item:hover {
    transform: translateY(-0.3rem);
    box-shadow: $btn-shadow-light;
  }
}
/*=============
  Section Responsive images
  =============*/
.section-responsive {
}
/* ====
Gallery
======*/
.gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr;
  @include respond-to(sm) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @include respond-to(md) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  margin: auto;
  &__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  &__img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}
