@use "../abstracts" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 2.6rem 0;
  // margin-inline: 5rem;
  // width: 100%;

  &__logo {
  }
  &__links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: $btn-shadow-light;
    a {
      color: $c-tertiary;
      text-decoration: none;
    }
    & > *:not(:last-child) {
      padding-right: 1.5rem;
      border-right: $border-primary;
    }
  }
}
