/* 
===================
Manage Media Query
==================== 
Break points:
- 480px  = xs 
- 576px = sm
- 768px = md
- 992px = lg
- 1200px = xl
- 1400px = xxl
Note:
- Build with min-width to follow html,css, and framework bootstrap and tailwind.
- Apply over 480 and 480
- Media query unit does not effected by the base font setup which is 62.5% in my case. 
- It is always related to the browser root font size, 16px. 
- Most of the browser em unit works properly(1em = 16px). So we use em unit for media query.
- 600px/16px = 37.5 em
*/

/* =========
Define Break Points Variable
=========*/
$breakpoints: (
  //480px  = xs
  "xs": 30em,
  //576px = sm
  "sm": 36em,
  //768px = md
  "md": 48em,
  //992px = lg
  "lg": 62em,
  //1200px = xl
  "xl": 75em,
  //1400px = xxl
  "xxl": 87.5em
);
/* =========
  Media query mixin`
  =========*/
@mixin respond-to($defined-screen) {
  // Map breakpoints variable and get breakpoint(value) with exact screen name
  $breakpoint: map-get($breakpoints, $defined-screen);
  // Write classes in that screen size
  @media (min-width: $breakpoint) {
    @content;
  }
}
